
          <!-- Form components -->
        <!--<form class="form-horizontal" role="form" action="#">-->
        <%= form_for(@animal, :class => "form-horizontal" ) do |f| %>
          <% if @animal.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

              <ul>
              <% @animal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

        <!-- Basic inputs -->
            <div class="panel panel-default">
              <div class="panel-heading"><h6 class="panel-title"><i class="icon-bubble4"></i> Formulario</h6></div>
                  <div class="panel-body">

                      



            <div class="form-group">
              <!--<label class="col-sm-2 control-label">Default text input: </label>-->
               <%= f.label :nombre, :class =>"col-sm-2 control-label" %>
              <div class="col-sm-10">
                
                <%= f.text_field :nombre, :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <!--<label class="col-sm-2 control-label">Default text input: </label>-->
               <%= f.label :codigo, :class =>"col-sm-2 control-label" %>
              <div class="col-sm-10">
                
                <% f.text_field :codigo, :class => "form-control" %>
                <input type="text" class="form-control" readonly="readonly" value="<%= current_user.iniciales.upcase %>#####">
              </div>
            </div>

            



            <div class="form-group">
              <!--<label class="col-sm-2 control-label">Default text input: </label>-->
               <%= f.label :raza, :class =>"col-sm-2 control-label" %><br>
              <div class="col-sm-10">
                
                <% f.text_field :raza, :class => "form-control" %>
                 <%= f.select(:raza, Animal::RAZA, {}, :class => "form-control") %> 
                 

              </div>
            </div>
            <br>

            <div class="form-group">
              <!--<label class="col-sm-2 control-label">Default text input: </label>-->
               <%= f.label :genero, :class =>"col-sm-2 control-label" %>
              <div class="col-sm-10">
                
                <% f.text_field :genero, :class => "form-control" %>
                <%= f.select(:genero, Animal::GENERO, {}, :class => "form-control") %> 
              </div>
            </div>
            <br>



            <div class="form-group">
              
              <%= f.label :fecha_de_nacimiento, :class => "col-sm-2 control-label" %><br>
              <div class="col-sm-10">
                <!--<input class="form-control" type="date" name="date">-->
                <% f.date_select :fecha_de_nacimiento, :class => "form-control" %>
                <%= f.date_field(:fecha_de_nacimiento, :class => "form-control") %>
                <br>
              </div>
            </div>


            <% f.date_field(:fecha_de_nacimiento, :class => "form-control") %>
            <% f.datetime_field(:fecha_de_nacimiento, :class => "form-control") %>
            <% f.datetime_local_field(:fecha_de_nacimiento, :class => "form-control") %>



            <%= f.hidden_field :user_id, :value => current_user.id  %>


            
            <div class="form-actions text-right">
              
              <%= f.submit :class => 'btn btn-primary' %>
            </div>
            
                    
                    </div>
                </div>
                <!-- /spinner -->
<% end %>
